@page "/todolist"
<PageTitle>Lista de tarefas</PageTitle>
<h3>TodoList</h3>


<button class=" btn btn-dark">Recarregar</button>
<table class="table table-striped">
    <thead>
    
    <tr>
            <th>Title</th>
            <th>Priority</th>
            <th>Done</th>
            <th>DoneDate</th>
            <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr style= "cursor:pointer; text-decoration:line-through","class="table-danger">
            <td>Title</td>
            <td>Priority</td>
            <th><input type="checkbox"/></th>
            <td>01/01/2024</td>
            <th>
                <button class="btn btn-dark">Editar</button>
                <button class="btn btn-danger">Excluir</button>
            </th>
    </tr>
    <tr>
       <td colspan="5">
                <form>
                    <div class="mt-2">
                        <label class="from-label" for="">Titulo</label>
                        <input class="form-control" />
                    </div>
                    <div class="mt-2">
                        <label class="from-label" for="">Prioridade</label>
                        <select class="form-select">
                            <option value="null">--Select</option>
                            <option value="null">Urgente</option>
                        </select>
                       <div class="mt-4">
                            <button class="btn btn-dark">Salvar</button>
                            <button class="btn btn-default">Cancelar</button>
                       </div>
                    </div>
                </form>
       </td>
    </tr>
    </tbody>
</table>

<p>Nenhuma tarefa listada</p>



@code {

}
