@page "/todolist"
<PageTitle>Lista de tarefas</PageTitle>
<h3>TodoList</h3>


<button class=" btn btn-dark">Recarregar</button>
<table class="table table">
    <thead>
    
    <tr>
            <th>Title</th>
            <th>Priority</th>
            <th>Done</th>
            <th>DoneDate</th>
            <th>CategoryId</th>
            <th>*</th>
    </tr>
    </thead>
    <tbody>
    <tr>
            <td>Title</td>
            <td>Priority</td>
            <td>Description</td>
            <td>Done</td>
            <td>DoneDate</td>
            <td>CategoryId</td>
            <th>*</th>
    </tr>
    </tbody>
</table>

<p>Nenhuma tarefa listada</p>



@code {

}
